body {
  color: aliceblue;
  background: url("https://wallpaperaccess.com/full/1087594.jpg");
  background-repeat: no-repeat;

  background-size: cover;
}
.left {
  /* border:5px solid green; */
  display: inline-block;
  position: absolute;
  left: 12px;
  top: 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.left img {
  width: 100px;
}
.mid {
  display: block;
  width: 40%;
  margin: 40px auto;
}
.right {
  /* border: 5px solid blue; */
  display: inline-block;
  position: absolute;
  right: 12px;
  top: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.navbar li {
  display: inline-block;
  list-style: none;
  width: 30%;
}
.navbar li a {
  color: aliceblue;
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-decoration: none;
}
.navbar li a:hover,
.navbar li a.active {
  text-decoration: underline;
  color: grey;
}

.btn {
  border-radius: 5px;
  margin: 0px 12px;
  padding: 0px 20px;
  cursor: pointer;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 15px;
  background-color: grey;
}
.btn:hover {
  color: aliceblue;
  background-color: grey;
}
.container {
  border: 4px solid rgb(226, 232, 226);
  margin: 106px 80px;
  padding: 70px;
  border-radius: 26px;
  width: 40%;
}
.gymform {
  display: block;
  margin: 0px auto;
  padding: 20px;
  border-radius: 5px;
}
.gymform input {
  margin: 5px auto;
  padding: 4px;
  width: 109%;
  text-align: center;
  font-size: 21px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  border-radius: 10px;
}
.container h1 {
  text-align: center;
}
.container h6 {
  text-align: center;
  font-size: 15px;
}
.container button {
  display: block;
  width: 30%;
  margin: 10px auto;
  padding: 12px;
  font-size: 18px;
  border-radius: 19px;
  background-color: rgb(230, 144, 144);
}
button:hover {
  color: aliceblue;
  background-color: grey;
}
